body {
  background-color: rgb(0,0,0);
}

.bd-canvas {
  display:block
}

.bd-heading {
  margin-top: 20px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Source Sans Pro";
  font-size: 5em;
  font-weight: 900;
  -webkit-user-select: none;
  user-select: none;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  
}

.björn {
  text-align: center;
  color: white;
}


/* The sidebar menu */
.sidenav {
  height: 100%;
  width: 260px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* Style page content */
.main {
  margin-left: 260px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* octupus fact*/
.platz {
  margin-top: 50px;
  margin-bottom: 50px;
}

hr {
  background: gray;
}

/*timer*/
h1 {
  color: white;
}

li {
  color: white;
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.time span {
  display: block;
  font-size: 4.5rem;
}


/*you are an octupus*/
.quadrate .quadrat {
  list-style: none;
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 30px;
  padding: 0;
}

.quadrate .quadrat .style {
  width: 100%;
  border-radius: 10px;/*abgerundete ecken*/
  padding: 35% 15px;/*wichtig*/
  font-size: 1.2em;
  color: #fff;
  transform-style: preserve-3d;
  transition: transform .5s;
  cursor: pointer;
  backface-visibility: hidden;
}

.front {
  background: #DD6031;
  position: absolute;
}

.back {
  background: #D9DD92;
  transform: rotateY(-90deg);
}

li:hover .front {
  animation: flip 0.2s ease-in forwards;
}

li:hover .back {
  animation: flip 0.2s 0.2s ease-out forwards reverse;
}

@keyframes flip {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(-90deg); }
}

/* ################### */
body{
  font-size: 20px;
  font-family: monospace;
}

#container{
  margin : 20px auto;
  background-color: #B0E0E6;
  height: 150px;
  width : 800px;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px;
  position: relative;	
}

#start{
  font-size: 1.5em;
  font-weight: bolder;
  word-break: break-all;
  width:40%;
  height:150px;
  border : 2px solid #000000;
  text-align: center;
  cursor: pointer;
  position: absolute;
  margin-left:auto;
  margin-right:auto;
  color : #000000;
}
#start:hover{
  border: 9px solid #008000;
  color : #008000;
}

#qImg{
  width : 450px;
  height : 450px;
  position: absolute;
  left : auto;
  top : 100px;
}
#qImg img{
  width : 450px;
  height : 450px;
  border-top-left-radius: 5px;
}

#question{
  width:500px;
  height : 125px;
  position: absolute;
  right:auto;
  top:0;
}
#question p{
  margin : 0;
  padding : 15px;
  font-size: 1.25em;
}

#choices{
  width : 480px;
  position: absolute;
  right : auto;
  top : 550px;
  padding : 10px
}
#text{
width : 350px;
height : 30px;
text-align:centre;
}
#button{
width : 90px;
height : 35px;
}

.choice{
  display: inline-block;
  width : 135px;
  text-align: center;
  border : 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  padding : 5px;
}
.choice:hover{
  border : 2px solid grey;
  font-weight: bold;
}

#timer{
  position: absolute;
  height : 100px;
  width : 200px;
  bottom : 0px;
  text-align: center;
}
#counter{
  font-size: 3em;
}
#btimeGauge{
  width : 150px;
  height : 10px;
  border-radius: 10px;
  background-color: lightgray;
  margin-left : 25px;
}
#timeGauge{
  height : 10px;
  border-radius: 10px;
  background-color: mediumseagreen;
  margin-top : -10px;
  margin-left : 25px;
}
#progress{
  width : 500px;
  position: absolute;
  bottom : 0px;
  right : auto;
  padding:5px;
  text-align: right; 
  z-index:-500!important;
}
.prog{
  width : 25px;
  height : 25px;
  border: 1px solid #000;
  display: inline-block;
  border-radius: 50%;
  margin-left : 5px;
  margin-right : 5px;
}

#scoreContainer{
  margin : 20px auto;
  background-color: white;
  opacity: 0.8;
  height: 300px;
  width : 700px;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px;
  position: relative;
  display: none;
}
#scoreContainer img{
  position: absolute;
  top:100px;
  left:325px;
}
#scoreContainer p{
  position: absolute;
  display: block;
  width : 59px;
  height :59px;
  top:130px;
  left:325px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}


.button {
font-size: 15px;
text-align: center;
cursor: pointer;
outline: none;
color: #fff;
background-color: #5F9F9F;
border: none;
border-radius: 15px;
box-shadow: 0 0px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
background-color: #3e8e41;
box-shadow: 0 5px #666;
transform: translateY(4px);
}
.tb{
border:2px solid #456879;
border-radius:10px;
text-align : center;
}

.footer{
font-size: 10px;
}